.page-profile.main 
    | !{linkToProfile}
    .editProfile
        .editProfile_header
            | !{avatar}
            .editProfile_header_name=userName
        form.editProfile_info 
            | !{email}
            | !{login}
            | !{first_name}
            | !{second_name}
            | !{display_name}
            | !{phone}
        | !{buttonSave} 
