.page-profile.main 
    .editProfile
        | !{linkToProfile}
        .editProfile_header
            .editProfile_header_avatar
                img(src=noAvavtarIcon alt="avatar")
                form.editProfile_avatar_form
                    input(type="file" name="avatar")
            .editProfile_header_name=userName
        form.editProfile_info 
            | !{fields}
        | !{buttonSave} 
