.page-profile.main
    | !{linkToChats}
    .profile
        .profile_header
            .profile_header_avatar 
                | !{avatarProfile}
            .profile_header_name=name
        .profile_info 
            | !{fields}
        .profile_buttons
            | !{links}
            | !{links}
            | !{exitLink}
