.page-profile.main
    | !{linkToChats}
    .profile
        .profile_header
            .profile_header_avatar 
                img(src=noAvavtarIcon, alt="avatar")
            .profile_header_name Иван
        .profile_info 
            | !{fields}
        .profile_buttons
            | !{links}
            | !{links}
            | !{exitLink}
