.page-profile.main
    | !{linkToChats}
    .profile
        .profile_header
            .profile_header_avatar 
                | !{avatarProfile}
            .profile_header_name=name
        .profile_info 
            | !{email}
            | !{login}
            | !{first_name}
            | !{second_name}
            | !{display_name}
            | !{phone}
        .profile_buttons
            | !{linkEditProfile}
            | !{linkEditPassword}
            | !{exitLink}
