.page-profile.maim
    .profile
        .profile_header
            .profile_header_avatar 
                img(src=noAvavtarIcon, alt="avatar")
            .profile_header_name Иван
        .profile_info 
            | !{fields}
        .profile_buttons
            .profile_buttons__changeData
                | !{buttons}
                a.link
                | !{links}
            .profile_buttons__changePassword
                a.link
                | !{links}
            .profile_buttons__logout
                .link__red 
                | !{links}
