.main.page-chats
    .chatlist
        .chatlist_container
            .chatlist_header
                .chatlist_header_btn-profile
                    button.btn-profile
                        a(href='/profile').chatlist_header_btn-profile__link
                            span.chatlist_header_btn-profile__link-text Профиль
                            img(src= arrowIcon alt='arrow icon').chatlist_header_btn-profile__img-array
                .chatlist_header_search
                    label.chatlist_header_search__img-search 
                    input.chatlist_header_search__input(type="text"  placeholder="Поиск")
                
            .chatlist-item
                each val in [1, 2, 3, 4, 5, 6, 7, 8, 9]
                    .chatlist-item_wrapper
                        img.chatlist-item_avatar(src= avatarIcon)
                        .chatlist-item_content 
                            .chatlist-item_content__name Fedor
                            .chatlist-item_content__messege hello from Fedor!!!!!
                        .chatlist-item_secondary 
                            .chatlist-item_secondary_time 10:49
                            .chatlist-item_secondary_unread 2                           
    .chat
        .chat-selected
            .chat_header
                .chat_header_info 
                    .chat_header_avatar
                        img.chat_header_info__avatar(src= avatarIcon)
                    .chat_header_name Вадим
                .chat_header_settings
                    img.chat_header__menu-btn(src= menuIcon)
            .chat_main
                .chat_main_wrap
                    time.chat_main_date(datetime="2023-02-02") 2 фераля
                    .chat_main_recipient
                        .chat_main_message
                            .chat_main_message_text 
                                p Привет! Смотри, тут всплыл интересный кусок лунной космической истории — НАСА в какой-то момент попросила Хассельблад адаптировать модель SWC для полетов на Луну. Сейчас мы все знаем что астронавты летали с моделью 500 EL — и к слову говоря, все тушки этих камер все еще находятся на поверхности Луны, так как астронавты с собой забрали только кассеты с пленкой.
                                p Хассельблад в итоге адаптировал SWC для космоса, но что-то пошло не так и на ракету они так никогда и не попали. Всего их было произведено 25 штук, одну из них недавно продали на аукционе за 45000 евро.
                            .chat_main_message_obj
                        .chat_main_info 
                            .chat_main_status
                            .chat_main_time 11:56
                    .chat_main_recipient
                        .chat_main_message
                            .chat_main_message_text
                            .chat_main_message_obj
                                img(src=imgPhoto alt="Фото" height="100%" width="100%")
                        .chat_main_info 
                            .chat_main_status
                            .chat_main_time 11:56
                    .chat_main_sender
                        .chat_main_message
                            .chat_main_message_text 
                                p Круто!
                            .chat_main_message_obj
                        .chat_main_info 
                            .chat_main_status
                                img(src=statusReadIcon alt='прочитано').img_status__read
                            .chat_main_time 11:56
            .chat_footer
                .chat_footer_attach
                    img(src=attachIcon alt='attach icon')
                .chat_footer_message
                    |	!{message}
                .chat_footer_send
                    | !{actions}
